  body {
    font-family: 'Comic Sans MS', cursive;
    text-align: center;
    margin: 20px;
    background-color: #ffd3e0; /* Warna latar belakang yang cerah */
  }

  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  h1 {
    color: #e91e63; /* Warna merah muda */
  }

  button {
    background-color: #ff4081; /* Warna pink */
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }

  button:hover {
    background-color: #ff0059; /* Warna pink lebih gelap */
  }

  img {
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
  }
